*.hacker linguist-detectable=true
*.hacker linguist-documentation=false
*.hacker linguist-language=Hacker-Lang

*.hk linguist-detectable=true
*.hk linguist-documentation=false
*.hk linguist-language=Hacker-Lang


*.hl linguist-detectable=true
*.hl linguist-documentation=false
*.hl linguist-language=Hacker-Lang

*.hla linguist-detectable=true
*.hla linguist-documentation=false
*.hla linguist-language=Hacker-Lang

*.io linguist-detectable=true
*.io linguist-documentation=false
*.io linguist-language=Hacker-Lang
